{% extends "base.html" %} {% block title %}Checkout Page{% endblock %} {% block
content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-md-6 text-center">
    <h3 align="center">Checkout</h3>
    <div class="table-responsive">
      <table class="table" style="margin: 0 auto; width: 70%">
        <thead>
          <tr style="text-align: center">
            <th>Product</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody id="cartItemsTable">
          {% for product in cart_details %}
          <tr style="text-align: center">
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div
      id="totalQuantity"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      "
    >
      <strong>Total Quantity: {{ total_quantity }}</strong>
    </div>
    <div style="margin-bottom: 20px"></div>
    <div align="center">
      <button
        id="checkoutBtn"
        class="btn btn-primary"
        data-cart-details="{{ cart_details }}"
      >
        Checkout
      </button>
    </div>
  </div>
</div>
{% endblock %}
