{% extends "base.html" %} {% block title %} Product List {% endblock %} {% block
navbar %} {# Empty block to exclude the navigation bar in products.html #} {%
endblock %} {% block content %} {# Empty block to exclude the content #} {%
endblock %} {% block admin%}

<div class="container">
  <h2 class="mt-4 mb-4">Products List</h2>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product ID</th>
          <th>Name</th>
          <th>Category</th>
          <th>Available Quantity</th>
          <th>Expiry date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td>{{ product.sku }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.expiry_date}}</td>
          <td>
            <a
              href="#"
              class="btn btn-primary btn-sm edit-product"
              data-sku="{{ product.sku }}"
            >
              Edit
            </a>
            <a href="#" class="btn btn-danger btn-sm"> Delete </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script
  type="text/javascript"
  src="{{ url_for('static', filename='js/admin.js') }}"
></script>

{% endblock %}
